using MySql.Data.MySqlClient;

namespace park_control.Database
{
    public class DatabaseConnection
    {
        private static string connectionString = "Server=your_server;Database=your_database;Uid=your_user;Pwd=your_password;";

        public static MySqlConnection GetConnection()
        {
            return new MySqlConnection(connectionString);
        }

        /*public static bool TestConnection()
        {
            try
            {
                using (var connection = GetConnection())
                {
                    connection.Open();
                    return true;
                }
            }
            catch (MySqlException)
            {
                return false;
            }
        }*/
    }
} 